@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top {
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    flex-grow: 1;
    font-family: 'Roboto';
}

.top,
.middle {
    padding-inline: 96px;
}

.top,
.footer {
    background-color: #1F2937;
}

.top,
.middle,
.footer {
    font-family: 'Roboto';
}

.header {
    display: flex;
    flex-direction: row;
    height: 72px;
    flex-grow: 0.5;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 10px;
    font-size: 24px;
}

.logo,
.heroText 
{
    color: #F9FAF8;
    font-weight: 900;
}

.headerLinks {
    list-style-type: none;
    display: flex;
    flex-shrink: 1;
    padding-inline-start: 0;
    padding: 10px;
    gap: 10px;
}

.headerLinks a,
.subtext {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.subheader {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-block: 100px;
    gap: 32px;
}

.underlogo {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: flex-start;
    gap: 8px;
}

.heroText {
    font-size: 48px;
}

button {
    background-color: #3882F6;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #3882F6;
    padding: 10px 32px;
    font-weight: 900;
}

.underlinks {
    display: flex;
    flex: 1 1 0;
    padding: 16px;
    justify-content: center;
    align-items: center;
    background-color: rgb(155, 155, 155);
    color: white;
}

.middle {
    display: flex;
    flex-direction: column;
    flex-basis: 900px;
    flex-grow: 2;
}

.display {
    display: flex;
    flex-direction: column;
}

.displayTitle {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: center;
}


.footer {
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}