@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-grow: 1;
    font-family: 'Roboto';
    padding-inline: 64px;
}

.top,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: row;
    height: 72px;
    flex-grow: 0.5;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 10px;
    font-size: 24px;
}

.logo,
.heroText {
    color: #F9FAF8;
    font-weight: 900;
}

.headerLinks {
    list-style-type: none;
    display: flex;
    flex-shrink: 1;
    font-size: 18px;
    padding-inline-start: 0;
    padding: 10px;
    gap: 10px;
}

.headerLinks a {
    text-decoration: none;
    color: #E5E7EB;
}

.subheader {
    flex: display;
    flex-grow: 2;
}

.heroText {
    font-size: 48px;
}

.middle {
    display: flex;
    flex-basis: 600px;
    flex-grow: 2;
}

.footer {
    height: 72px;
}